@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');


.cl-rootBox.cl-signIn-root {
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg,
            rgb(218, 241, 222) 0%,
            rgb(5, 31, 3) 100%);
}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #1f1f1f;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 50px;
    font-family: 'Light';
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #DAF1DE;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg,
            rgb(218, 241, 222) 0%,
            rgb(142, 182, 155) 100%);
    color: #000000;
    text-transform: capitalize;
}

.todo-input.edit {
    border: 2px solid #DAF1D0;
}

.todo-button.edit {
    background: linear-gradient(90deg,
            rgb(218, 241, 222) 0%,
            rgb(142, 182, 155) 100%);
    padding: 16px 22px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #000000;
    background-image: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%);
    background: rgba(253, 255, 240);
    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.todo-row:nth-child(4n + 1) {
    background: rgb(214, 242, 199);
}

.todo-row:nth-child(4n + 2) {
    background: rgb(27, 130, 101);
}

.todo-row:nth-child(4n + 3) {
    background: rgb(112, 173, 98);
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: black;

}

.delete-icon {
    margin-right: 5px;
    color: #000000;
}

.edit-icon {
    color: #000000;
}

@font-face {
    font-family: "Light";
    src: local("Pioggia"),
        url("./Pioggia.otf") format("truetype");
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Light';
    font-size: 50px;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    height: 85%;
    background-color: white;
    text-align: left;
    font-family: 'Crimson Pro', serif;
    overflow: hidden;
    overflow-y: scroll;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.subtask-input {
    padding: 5px;
    border-radius: 2px 0 0 2px;
    outline: none;
    width: 320px;
    background: transparent;
    color: black;
}

.subtask-input.edit {
    border: 2px solid black;
}

.subtask-button.edit {
    padding: 16px 22px;
}

.subtask-button {
    padding: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    color: grey;
    font-size: medium;
    text-transform: capitalize;
}

.subtask-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #000000;
    padding: 16px;
}